.wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;

  padding: 16px;
  gap: 8px;

  background-color: rgba($color: #000000, $alpha: 0.9);

  .nickname {
    display: flex;
    gap: 8px;
  }

  .transparent {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .copy {
    display: flex;
    justify-content: flex-end;

    margin-top: 8px;
  }
}
