.container {
  padding: 16px;

  font-size: 12px;
  color: var(--site-text-secondary);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .disclaimer {
    margin-top: 8px;
  }

  .twitch {
    color: #b98dfb;
  }

  .telegram {
    color: rgb(211, 211, 211);
  }
}
