.wrapper {
  height: 100dvh;
  width: 100dvw;

  min-width: 1024px;

  .container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .topForm {
      margin: 8px;
      padding: 12px;

      display: flex;
      flex-direction: row;
      align-items: center;

      gap: 8px;

      border-radius: 8px;
      background-color: #121212;

      filter: drop-shadow(#121212 2px 2px 5px);
    }

    .error {
      max-width: 600px;

      margin: 8px;
      padding: 12px;
      border-radius: 8px;

      color: #121212;
      background-color: #ff002b;
      filter: drop-shadow(#121212 2px 2px 5px);

      &Header {
        font-weight: bold;

        font-size: 18px;
        line-height: 26px;
      }

      &Description {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100dvh;
  width: 100dvw;
  display: block;
  background-image: url("/anubis-map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
