.wrapper {
  height: 100%;
  width: 100dvw;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background: var(--site-background-gradient);

  .container {
    height: 100%;
    width: 100%;
    max-width: 1024px;
    min-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .content {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      margin-top: 96px;
      margin-bottom: 30px;

      gap: 48px;

      .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        gap: 8px;

        .description {
          color: var(--site-text-secondary);
        }
      }
    }
  }
}
