.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4px;

  .flag {
    height: 14px;
    border-radius: 2px;
  }

  .rank {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: 16px;
    line-height: 18px;
  }
}
