.wrapper {
  .container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 8px;

    gap: 4px;
    border-radius: 8px;

    color: #f1f1f1;
    background-color: #121212;

    &_transparent {
      background-color: #121212e6;
    }

    .topSection {
      display: flex;
      justify-content: space-between;
      align-items: center;

      gap: 16px;
    }

    .levelElo {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: 4px;
    }
  }
}
