.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  transition: all 0.7s ease;

  padding: 4px 8px;

  .value {
    font-size: 16px;
    line-height: 20px;
  }

  .label {
    font-size: 12px;
    line-height: 16px;
  }

  &Giant {
    padding: 4px 8px;

    .value {
      font-size: 48px;
      line-height: 48px;
    }

    .label {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
