.container {
  padding: 2px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;

  border-radius: 9999px;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;

  &Bigger {
    padding: 0;
  }

  .rank {
    padding-left: 6px;

    display: flex;
    align-items: flex-end;
  }

  .icon {
    height: 28px;
    width: 28px;

    &Bigger {
      height: 32px;
      width: 32px;
    }
  }
}
