.container {
  padding: 2px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;

  border-radius: 9999px;
  color: #000000;
  font-weight: bold;

  font-size: 16px;
  line-height: 16px;

  &Giant {
    padding: 6px;
    gap: 12px;

    font-size: 46px;
    line-height: 48px;
  }

  &_no_border {
    padding: 0;
  }

  .rank {
    margin-top: 2px;
    padding-left: 6px;

    display: flex;
    align-items: flex-end;

    &Giant {
      margin-top: 6px;
      padding-left: 18px;
    }
  }

  .icon {
    height: 28px;
    width: 28px;

    &Giant {
      height: 84px;
      width: 84px;
    }

    &_no_border {
      height: 32px;
      width: 32px;

      &Giant {
        height: 96px;
        width: 96px;
      }
    }
  }
}
